{% extends 'admin/base.html.twig' %}

{% block title %}
    Actualité
{% endblock title %}

{% block main %}

    {# Début MAIN #}
    <main class="container-fluid position-relative m-0">
        <h1>Mon actualités</h1>
    </main>
    {# Fin MAIN #}

{% endblock main %}